* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --dark-01: #151414;
  --dark-02: #444343;
  --dark-03: #737272;
  --dark-04: #a2a1a1;
  --dark-05: #d0d0d0;
  --dark-06: #e8e8e8;
  --dark-07: #f3f3f3;
}
:root {
  --font-family: "Work Sans", sans-serif;
  --second-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
}
.container {
  max-width: 1400px;
  margin: auto;
}
/* banner section start */
#banner {
  background-image: url(./images/banner/banner1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 80px;
  height: 100vh;
}
.banner-content {
  max-width: 500px;
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.banner-content h1 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 65px;
  text-align: right;
  color: var(--dark-01);
}
.banner-content p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  text-align: right;
  color: var(--dark-02);
}
.banner-content button {
  width: 160px;
  height: 64px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  background-color: #f15b22;
  border: none;
  border-radius: 5px;
}
.banner-btn {
  display: flex;
  justify-content: flex-end;
}
/* banner section end */
/* my-failures section  */
#my-failures {
  margin-top: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 87px;
}
#my-failures img {
  max-width: 569px;
  height: 723px;
}
.my-failures-content {
  max-width: 416px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 200px;
}
.my-failures-content ul li i {
  color: #16d887;
  padding-right: 10px;
}
.my-failures-content h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  color: var(--dark-01);
}
/* my-failures section  */
/* my-plans section  */
#my-plans {
  margin-top: 130px;
}
#my-plans h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  color: var(--dark-01);
  text-align: center;
}
.all-plans-card {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.plans-card .card-img {
  display: flex;
  justify-content: center;
}
.plans-card h3 {
  font-family: var(--font-family);
  font-weight: 700;
  text-align: center;
  padding: 15px 0;

  font-size: 30px;
  color: var(--dark-01);
}
.plans-card p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 25px;
  text-align: center;
  color: var(--dark-03);
}
/* my-plans section  */
/* mindset section start */
#mindset {
  background-image: linear-gradient(
      90deg,
      #f15b22 0%,
      rgba(241, 91, 34, 0) 100%
    ),
    url(./images/watch.png);
  width: 1140px;
  height: 300px;
  margin: 130px auto;
  padding: 59px;
}
#mindset .mindset-content h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  color: #fff;
  margin-bottom: 24px;
}
#mindset .mindset-content button {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #f15b22;
  width: 160px;
  height: 64px;
  border: none;
  border-radius: 5px;
}
/* mindset section end */
/* footer section start */
footer {
  background: var(--dark-01);
  padding: 130px 230px;
  display: flex;
  gap: 100px;
}
.footer-content h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 45px;
  color: #f8f8f8;
}
.footer-content p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  color: #fff;
  margin: 10px 0;
}
.footer-content img {
  margin-left: 10px;
}
.footer-links h2 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 25px;
  color: #fff;
}
.footer-links input {
  width: 325px;
  height: 64px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--dark-07);
  border-radius: 5px;
  background-color: var(--dark-01);
  border: 1px solid gray;
  margin: 31px 0 16px;
}

.footer-links button {
  width: 170px;
  height: 64px;
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 20px;
  color: #f15b22;
  border: none;
  border-radius: 10px;
}
/* footer section end */
